Cargo.lock
node_modules
build
package-lock.json
prebuilds
/target/
CMakeCache.txt
cmake_install.cmake
/CMakeFiles
libtree-sitter-prolog.so
Makefile
zed/prolog/extension.toml
src/grammar.json
install_manifest.txt
src/node-types.json
src/parser.c
tree-sitter-prolog.wasm
src/parser.c
src/parser.c
